{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
    <h1> Bienvenido a la pagina de pedidos</h1>
    <p> Ingrese su nombre, los productos que desea, la cantidad de cada uno de ellos y si es para llevar</p>
    <form action="forms" method="POST">
        <div class="mb-3">
          <label for="InputName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="InputName" aria-describedby="nameHelp" name="name">
          <div id="nameHelp" class="form-text">Ingrese su nombre</div>
        </div>
        <div class="mb-3">
            <label for="productSelect" class="form-label">Producto</label>
            <select class="form-select" aria-label="Default select example" id="productSelect" name="product">
                <option selected>Seleccione un producto</option>
                <option value="1">Hamburguesa</option>
                <option value="2">Pizza</option>
                <option value="3">Hot Dog</option>
            </select>
            <div id="productHelp" class="form-text">Seleccione el producto que desea</div>
        </div>
        <div class="mb-3">
          <label for="InputCantidad" class="form-label">Cantidad</label>
          <input type="number" class="form-control" id="InputCantidad" aria-describedby="cantidadHelp" name="cantidad">
          <div id="cantidadHelp" class="form-text">Ingrese la cantidad de productos que desea</div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="outCheck" name="outCheck">
          <label class="form-check-label" for="outCheck">Para llevar</label>
        </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>
      </form>
{% endblock %}
