{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <h1>Restaurant de comida rápida</h1>
    <p> Bienvenido a nuestro restaurante de comida rápida, aquí podrá encontrar comida rápida de la mejor calidad y al mejor precio.</p>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style="height: 500px;">
          <div class="carousel-item active">
            <img src="{{url_for('static', filename='burger.jpg')}}" alt="Hamburguesa" width="100%" height="100%">
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static', filename='pizza.jpg')}}" alt="Pizza" width="100%" height="100%">
          </div>
          <div class="carousel-item">
            <img src="{{url_for('static', filename='hot_dog.jpg')}}" alt="Hotdog" width="100%" height="100%">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
{% endblock %}
